<div id="productos" class="container-fluid text-center">
  <h2>PRODUCTOS</h2>
  <h4>Más de 15000 productos en nuestros stock.</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <%=image_tag("category/ENGINE-COMPONENTS.jpg", alt:"central", width:"50%")%>
      <h4>COMPONENTES DE MOTOR</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <%=image_tag("category/ELECTRICAL-SYSTEM.jpg", alt:"central", width:"50%")%>
      <h4>SISTEMA ELECTRICO</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <%=image_tag("category/HYDRAULIC-SYSTEM.jpg", alt:"central", width:"50%")%>
      <h4>SISTEMA HIDRAULICO</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <%=image_tag("category/COOLING-SYSTEM.jpg", alt:"central", width:"50%")%>
      <h4>SISTEMA DE ENFRIAMIENTO</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <%=image_tag("category/SEALS-AND-GASKETS.jpg", alt:"central", width:"50%")%>
      <h4>SELLOS Y EMPAQUETADURAS</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <%=image_tag("category/FILTERS.jpg", alt:"central", width:"50%")%>
      <h4 style="color:#303030;">FILTROS</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>
