<div class="container margen">
  <p id="notice"><%= notice %></p>

  <h1>Suppliers</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Industria</th>
          <th>Image</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @suppliers.each do |supplier| %>
          <tr>
            <td><%= supplier.nombre %></td>
            <td><%= supplier.industria %></td>
            <td><%= supplier.image %></td>
            <td><%= link_to 'Show', supplier %></td>
            <td><%= link_to 'Edit', edit_supplier_path(supplier) %></td>
            <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>

  <%= link_to 'New Supplier', new_supplier_path, class:"btn btn-default" %>

</div>
